<header class="masthead">
    <div class="container">
        <div class="nav-header">
            <h1>
                <a href="#" title="OHDSI">
                    <img id="logo-main" src="img/ohdsi-logo-with-text.png" width="200" alt="Logo Thing main logos">
                </a>
            </h1>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div><!--/.navbar-collapse -->
</div>
<div class="ng-cloak main-container container-fluid">
    <ui-view></ui-view>
</div>
<a class="github-fork-ribbon right-top" href="https://github.com/cumc-dbmi/drug-condition-incidence"
   data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
