<div class="col-xs-12">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-offset-1 col-xs-10" style="margin-top:20px">
            <h2><span class="text-capitalize">{{appModel.treatment.drug_concept_name}}</span> Condition List from Product Label</h2><br>
            <h4>Amongst patients taking <span class="text-capitalize">{{appModel.treatment.drug_concept_name}}</span>,
                onset of the following conditions occurs during the 1 year after starting the drug</h4>
            <div ng-if="!!!evidence.length" class="alert alert-info">
                <strong>Sorry!</strong> Product label not found for the selected drug.
            </div>
            <br>
            <div class="col-md-8">
                <table ng-if="!!evidence.length" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-left">Condition</th>
                        <th class="text-left">Lowest Incidence (%)</th>
                        <th class="text-left">Highest Incidence (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in evidence | limitTo:itemsLimit track by $index">
                        <td class="text-left"><a ui-sref="app.drug_condition({ drugConceptId: appModel.treatment.drug_concept_id, conditionConceptId: r.outcome_concept_id })">{{r.outcome_concept_name}}</a></td>
                        <td class="text-left">{{r.incidence_proportion_range_low * 100 | number : 2}}</td>
                        <td class="text-left">{{r.incidence_proportion_range_high * 100| number : 2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-5">
        </div>
        <div ng-if="!!evidence.length" class="col-xs-2">
            Showing {{evidence.length < 100 ? evidence.length : currentCounter }} items of {{evidence.length}}<br><br>
            <button class="btn btn-warning btn-block" ng-disabled="evidence.length < 100" ng-click="loadMoreItems()">
                Load More
            </button>
        </div>
        <div class="col-xs-5">
        </div>
    </div>
</div>