<dl>
    <dt>CCAE</dt>
    <dd>Truven MarketScan Commercial Claims and Encounters; USA (Population: 121.85 million)
    </dd>
    <dt>MDCR</dt>
    <dd>Truven MarketScan Medicare Supplemental Beneficiaries; USA (Population: 9.25 million)
    </dd>
    <dt>MDCD</dt>
    <dd>Truven MarketScan Multi-State Medicaid; USA (Population: 17.34 million)
    </dd>
    <dt>NYP</dt>
    <dd>Columbia University Medical Center/New-York Presbyterian; USA (Population: 5 million)
    </dd>
    <dt>IMS-France</dt>
    <dd>IMS Disease Analyzer - France (Population: 2.2 millions)
    </dd>
    <dt>IMS-Germany</dt>
    <dd>IMS Disease Analyzer - Germany (Population: 8.875 millions)
    </dd>
    <dt>IMS-Australia</dt>
    <dd>IMS Disease Analyzer - Australia (Population: 1.375 millions)
    </dd>
    <dt>JMDC</dt>
    <dd>Japan Medical Data Center; Japan (Population: 3 millions)
    </dd>
    <dt>OPTUM EHR or SES</dt>
    <dd>Optum ClinFormatics; USA (Population: 40.67 millions)
    </dd>
    <dt>Premier</dt>
    <dd>Premier; USA (Population: 108 millions)
    </dd>
</dl>

