html, body {
	height: 5000px;
}

ul {
	list-style-type: none;
   padding-left: 0;
   line-height: 1.7;
}

a {
	cursor: pointer;;
}

.main-container {
  margin-top: 10px;
  height:100%;
}

.main-row {
  height:100%;
}

.main-content {
  height: 100%;
	width: 100%;
}

.patient-info {
  background-color: #f1f1f1;
  height: 100%;
  float: left;
}

#question-section {
		height: 550px;
		width: 100%;
		padding: 30px;
		background-color: #20425A;
		text-align: center;
		color: #FFFFFF;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
